<%- include('../includes/head') %>
<main class="message__container">
    <header class="nav__bare">
        <picture id="logo__nav">
            <source srcset="./images/CTC_Primary_Logo_White.avif" type="image/avif">
            <source srcset="./images/CTC_Primary_Logo_White.webp" type="image/webp">
            <img src="./images/CTC_Primary_Logo_White.png" alt="logo" width="138px" height=" 45px">
        </picture>

        <h1>Start Chat </h1>

    </header>
   

    <section class="user__typing">
        <ul></ul>
    </section>
    <form action="" class="send__container">
        <input type="text" class="message__input" autocomplete="off" placeholder="Type...">
        <button type="submit"> Send <span><img  class="icon" src="./images/Vector.png
            " alt="icon sending"></span> </button>

    </form>
    



</main>
<%- include('../includes/foot') %>   